.col-md-3{
  display: inline-block;
  margin-left:-4px;
}

.col-md-3 img{
  width:71%;
  height:250px;
}

body .carousel-indicators li{
  background-color:red;
}

body .carousel-indicators{
  bottom: 0;
}

body .carousel-control-prev-icon,
body .carousel-control-next-icon{
  background-color:grey;
}

body .no-padding{
  padding-left: 0;
  padding-right: 0;
  background-color: lightgrey;
   }
